<template>
	<v-select
		:items="items"
		:label="label"
		:rules="rules"
		@change="updateValue"
		solo
		append-icon="mdi-chevron-down"
	></v-select>
</template>

<script>
export default {
	name: "Select",
	props: {
		label: String,
		items: Array,
		rules: Array,
	},
	created() {
	},
	methods: {
		updateValue(value) {
			this.$emit("input", value);
		},
	},
};
</script>

<style lang="scss">
.v-select {
	& .v-input__slot {
		background: rgb(228, 237, 251) !important;
		box-shadow: none !important;

		padding: 10px 16px !important;

		& .v-label {
			font-family: "Golos-Medium";
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #04153e;
			opacity: 0.48;
		}

		& .v-icon {
			color: #3d75e4 !important;
		}
	}

	&__selection {
		font-family: "Golos-Medium";
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #04153e;
		opacity: 0.48;
	}
}

.v-menu__content {
	box-shadow: 0px 9px 28px rgba(17, 48, 121, 0.18) !important;
	border-radius: 8px;

	& .v-list-item {
		padding: 0 20px !important;

		&--active {
			border-left: 4px solid #3d75e4;

			&::before {
				background-color: white;
				border-left: 4px solid #3d75e4;
			}

			& .v-list-item__title {
				color: #04153e;
			}
		}

		&__title {
			font-family: "Golos-Medium";
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #4a5774;
		}
	}
}

.v-text-field.v-text-field--solo .v-input__control {
	min-height: 40px;
	max-height: 40px;
}
</style>
