<template>
	<div class="container">
		<div class="header">
			<div class="header-text">
				Личный кабинет
			</div>
			<Links></Links>
		</div>
		<div class="right-container">
			<div class="header-back">
				<div class="back">
					<img class="back-icon" src="images/pages/icons/line-left.svg" alt=""/>
					Назад
				</div>
				<div class="audit">
					<img class="back-image" src="images/pages/women.png" alt=""/>
					<div class="back-text">
						<div class="back-name">Александра</div>
						<div class="back-position">Должность</div>
					</div>
				</div>
			</div>
			<div class="header-title">
				<div class="organisation">
					Добавление организации
				</div>
				<div class="provider">
					Поставщик
				</div>
			</div>
			<div class="center">
				<div class="inputs-block">
					<div class="inputs-margin">
						<Input
							label="Наименование организации"
							:disabled="false"
							type="tel"
							:value="text.name"
							@input="text.name = $event"
						/>
					</div>
					<div class="inputs-margin">
						<Input
							label="Имейл"
							:disabled="false"
							type="tel"
							:value="text.email"
							@input="text.email = $event"
						/>
					</div>
					<div class="inputs-margin">
						<Select
							label="Статус"
							class="input-min"
							:items="items"
							@input="text.select = $event"
							@change="updateValue"
						/>
					</div>
				</div>
				<yandex-map
					:coords="coords"
					:zoom="10"
				>
					<ymap-marker
						:coords="coords"
						marker-id="123"
						hint-content="some hint"
					/>
				</yandex-map>
			</div>
			<div class="button-margin">
				<Button
					text="Сохранить"
					color="white"
					backgroundColor="#3D75E4"
					:onClick="getSubmit"
					:disabled="!text.name || !text.select || !text.email"
				/>
			</div>
		</div>
	</div>
</template>

<script>

import Input from "@components/ui/input/Input.vue";
import Button from "@components/ui/button/Button.vue";
import Select from "@components/ui/select/Select.vue";
import Links from "@components/pages/Links.vue";
import {yandexMap, ymapMarker} from 'vue-yandex-maps';

export default {
	name: "Add",
	components: {
		Input,
		Button,
		Select,
		yandexMap,
		ymapMarker,
		Links
	},
	data() {
		return {
			settings: {
				apiKey: 'aef083c5-504b-4f5e-addd-590ae6399359',
				lang: 'ru_RU',
				coordorder: 'latlong',
				version: '2.1'
			},
			coords: [
				54.82896654088406,
				39.831893822753904,
			],
			text: {
				name: "",
				email: "",
				select: ""
			},
			items: [
				"Открытая",
				"Закрытая"
			]
		}
	},
	methods: {
		async getSubmit() {
			console.log(this.text);
			console.log(this.text.email);
			console.log(this.text.name);
			console.log(this.text.select);
		},
		async updateValue() {
		}
	},
	props: {
		count: Number,
	},
}
</script>

<style scoped>

.center {
	display: block;
	margin-top: 32px;
}

.provider {
	font-family: "Golos-Medium";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #04153E;
	opacity: 0.48;
	margin-top: 6px;
}

.header-title {
	margin-left: 32px;
	margin-top: 14px;
}

.back-name {
	font-family: "Golos-Medium";
	font-style: normal;
	font-weight: 800;
	font-size: 13px;
	line-height: 16px;
	color: #04153E;
	margin: 5px 0px 0px 8px;
}

.back-position {
	font-family: "Golos-Medium";
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #04153E;
	opacity: 0.72;
	margin: 2px 0px 0px 8px;
}

.back-image {
	float: left;
}

.back-text {
	float: left;
}

.audit {
	float: right;
	margin-top: 32px;
	margin-right: 40px;
}

.header-back {
	display: table;
	height: 70px;
	width: 100%;
}

.header {
	display: block;
	height: 100%;
	width: 264px;
	float: left;
	background: #091F52;
}

.header-text {
	font-family: "Golos-Regular";
	width: 220px;
	height: 24px;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 46px;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

.right-container {
	background: #ffffff;
	float: left;
	height: 100%;
	width: calc(100% - 264px);
	border-radius: 50px 0px 0px 0px;
}

.container {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #091F52;
}

.back {
	margin-left: 32px;
	margin-top: 38px;
	float: left;
	font-family: "Golos-Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #3D75E4;
	order: 1;
}

.back-icon {
	margin-right: 8px;
}

.organisation {
	font-family: "Golos-Medium";
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 32px;
	color: #04153E;
}

.inputs-margin {
	height: calc(100% - 520px);
	margin: 0px 16px 24px 32px;
}

@media screen and (min-width: 1130px) {
	.inputs-block {
		display: block;
		width: calc(100% - 548px);
		float: left;
	}

	.ymap-container {
		display: block;
		height: 480px;
		width: 508px;
		margin-left: calc(100% - 548px);
	}

	.button-margin {
		margin: 32px 40px 50px 32px;
	}
}

.input-min {
	min-height: 40px;
}

@media screen and (max-width: 1130px) {
	.inputs-block {
		display: block;
		width: 100%;
		float: left;
	}

	.ymap-container {
		display: none;
		height: 0px;
		width: 0px;
	}

	.button-margin {
		margin: 32px 16px 50px 32px;
	}

}
</style>