<template>
	<div>
		<div class="button-org">
			<Button
				:onClick="getAdd"
				text="Открыть страницу добавление организации"
				color="white"
				backgroundColor="#3D75E4"
			/>
		</div>
	</div>
</template>

<script>
import Button from "@components/ui/button/Button.vue";
import {routeNames} from "@plugins/router";

export default {
	name: "Home",
	components: {
		Button
	},
	methods: {
		async getAdd() {
			setTimeout(
				() =>
					this.$router.push({
						name: routeNames.add,
					})
			);
		}
	}
};
</script>

<style scoped>
.button-org {
	width: calc(100% - 60px);
	margin-left: 30px;
	margin-right: -30px;
	position: absolute;
	top: 50%;
}
</style>
