<template>
	<div class="scroll">
		<div class="icon icon-text">
			<a href="" class="link">
				<img class="image-icon" src="img/pages/icons/dashboard.svg" alt=""/>
				Дашборд
			</a>
		</div>
		<div class="icon icon-text icon-top">
			<a href="" class="link">
				<img class="image-icon" src="images/pages/icons/center.svg" alt=""/>
				Ситуационный центр
			</a>
		</div>
		<div class="icon icon-text icon-top">
			<a href="" class="link">
				<img class="image-icon" src="images/pages/icons/active.svg" alt=""/>
				Активный гражданин
			</a>
		</div>
		<div class="icon icon-text acordion icon-top">
			<img class="image-icon" src="images/pages/icons/home.svg" alt=""/>
			Службы города
			<img class="image-list" src="images/pages/icons/list-up.svg" alt=""/>
		</div>
		<div class="icon icon-text acordion icon-top">
			<img class="image-icon" src="images/pages/icons/business.svg" alt=""/>
			Бизненс
			<img class="image-list" src="images/pages/icons/list-up.svg" alt=""/>
		</div>
		<div class="icon icon-text acordion icon-top">
			<img class="image-icon" src="images/pages/icons/services.svg" alt=""/>
			Платные услуги
			<img class="image-list" src="images/pages/icons/list-up.svg" alt=""/>
		</div>
		<div class="icon icon-text acordion icon-top">
			<img class="image-icon" src="images/pages/icons/security.svg" alt=""/>
			Безопасность
			<img class="image-list" src="images/pages/icons/list-up.svg" alt=""/>
		</div>
		<div class="icon icon-text acordion acordion-margin icon-top" @click="acordionHide = !acordionHide">
			<img class="image-icon" src="images/pages/icons/infrastructure.svg" alt=""/>
			Инфраструктура
			<img class="image-list" :src='acordionHide ? "images/pages/icons/list-up.svg" : "images/pages/icons/list-down.svg"' alt=""/>
		</div>
		<div :class='acordionHide ? "acordion-hide" : "acordion-content"'>
			<div class="acordion-link">
				<div class='line-hide'>
				</div>
				<div class='button-hight margin-button'>
					<img class="image-icon" src="images/pages/icons/gis.svg" alt=""/>
					ГИС ЖКХ
				</div>
			</div>
			<div class="acordion-link">
				<div class='line-hide'>
				</div>
				<div class='button-hight margin-button'>
					<img class="image-icon" src="images/pages/icons/asudd.svg" alt=""/>
					АСУДД
				</div>
			</div>
			<div class="acordion-link">
				<div class='line-hide'>
				</div>
				<div class='button-hight margin-button'>
					<img class="image-icon" src="images/pages/icons/electricity.svg" alt=""/>
					Электропитание
				</div>
			</div>
			<div class="acordion-link">
				<div class='line-hide'>
				</div>
				<div class='button-hight margin-button'>
					<img class="image-icon" src="images/pages/icons/bs.svg" alt=""/>
					БС сотовой связи
				</div>
			</div>
			<div class="acordion-link">
				<div class='line-hide'>
				</div>
				<div class='button-hight margin-button'>
					<img class="image-icon" src="images/pages/icons/rubbish.svg" alt=""/>
					Мусор
				</div>
			</div>
			<div class="acordion-link acordion-active">
				<div class="line">
				</div>
				<div class="button-hight">
					<img class="image-icon" src="images/pages/icons/count.svg" alt=""/>
					Счетчики
				</div>
			</div>
			<div class="acordion-link">
				<div class='line-hide'>
				</div>
				<div class='button-hight margin-button'>
					<img class="image-icon" src="images/pages/icons/elevator.svg" alt=""/>
					Дмспетчер лифтов
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "Links",
	data() {
		return {
			acordionHide: false
		}
	},
	props: {
		count: Number,
	}
}
</script>

<style scoped>

.scroll {
	display: block;
	height: calc(100% - 110px);
	width: 264px;
	overflow: auto;
	float: left;
	background: #091F52;
	scrollbar-width: thin;
	scrollbar-color: #E4EDFB #091F52;
}

.scroll::-webkit-scrollbar-track {
	width: 4px;
	background: #091F52;
}

.scroll::-webkit-scrollbar {
	width: 4px;
	background: #A2ABBE;
	border-radius: 2px;
	opacity: 0.72;
}

.scroll::-webkit-scrollbar-thumb {
	width: 4px;
	background: #A2ABBE;
	border-radius: 2px;
	opacity: 0.72;
}

.icon-text {
	font-family: "Golos-Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin-top: -1px;
	opacity: 0.72;
	margin-right: 12px;
}

.icon {
	margin-right: 12px;
	margin-left: 40px;
	color: #E5E5E5;
}

.link {
	text-decoration: none;
	color: #E5E5E5;
}

.image-icon {
	margin-right: 12px;
}

.icon-top {
	margin-top: 24px;
}

.acordion-margin {
	margin-bottom: 12px;
}

.image-list {
	margin-left: 12px;
}

.acordion-link {
	width: 100%;
	float: left;
	color: #E5E5E5;
	opacity: 0.72;
	font-family: "Golos-Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.acordion-link:hover {
	background: #04153E;
	color: #FFFFFF;
	opacity: 1;
}

.line-hide {
	margin-top: 5px;
	width: 4px;
	height: 32px;
	float: left;
}

.button-hight {
	height: 44px;
	display: table-cell;
	vertical-align: middle;
}

.margin-button {
	padding-left: 68px;
}

.acordion-active {
	background: #04153E;
	color: #FFFFFF;
	opacity: 1;
}

.acordion-hide {
	display: none;
}

.acordion-content {
	cursor: pointer;
	color: #FFFFFF;
}

.line {
	margin-top: 5px;
	width: 4px;
	height: 32px;
	background: #3D75E4;
	border-radius: 0px 4px 4px 0px;
	float: left;
	margin-right: 68px;
}

.acordion {
	cursor: pointer;
	color: #FFFFFF;
}
</style>