<template>
	<button
		class="button"
		:style="{ color, backgroundColor }"
		:disabled="checkDisabled"
		@click="onClick"
	>
		<img :src="image" alt=""/>
		<span>{{ text }}</span>
	</button>
</template>

<script>
export default {
	name: "Button",
	props: {
		text: String,
		color: String,
		backgroundColor: String,
		disabled: Boolean,
		onClick: Function,
		image: String,
	},
	computed: {
		checkDisabled: function () {
			return this.disabled;
		},
	},
};
</script>

<style scoped>
.button {
	width: 100%;
	height: 40px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Golos-Medium";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
}

.button[disabled] {
	opacity: 0.4;
}

.button img {
	padding-right: 6px;
}
</style>
