<template>
	<v-text-field
		class="custom-input"
		:label="label"
		v-model="inputVal"
		:rules="rules"
		:disabled="disabled"
		:type="type || 'text'"
	>
		<template v-slot:prepend>
			<slot name="prepend"></slot>
		</template>
		<template v-slot:prepend-inner>
			<slot name="prepend-inner"></slot>
		</template>
		<template v-slot:append>
			<slot name="append"></slot>
		</template>
		<template v-slot:append-outer>
			<slot name="append-outer"></slot>
		</template>
	</v-text-field>
</template>

<script>
export default {
	name: "Input",
	props: {
		label: String,
		mask: String,
		value: String,
		rules: Array,
		type: String,
		disabled: {
			type: Boolean,
			required: false,
			default: false
		}
	},
	computed: {
		inputVal: {
			get() {
				return this.value;
			},
			set(val) {
				this.$emit("input", val);
			},
		},
	},
};
</script>

<style>
.custom-input {
	padding: 0 !important;
	margin: 0 !important;
}

.custom-input .v-input__slot {
	margin: 0;
	background-color: #eff4fd;
	border-radius: 8px !important;
}

.custom-input.error--text .v-input__slot {
	background-color: #fdf0f2;
}

.custom-input.error--text input {
	color: #34040f;
	opacity: 0.48;
}

.custom-input .v-input__slot::before,
.custom-input .v-input__slot::after {
	border: none !important;
}

.custom-input input {
	padding: 16px !important;
	padding-top: 25px !important;

	font-family: "Golos-Medium";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	max-height: 40px !important;
	color: #465474;
}

.custom-input label.v-label {
	font-family: "Golos-Medium";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0em;
	color: #04153e !important;
	opacity: 0.48;

	top: 9px !important;
	left: 16px !important;
}

.custom-input label.v-label--active {
	top: 20px !important;
}

.custom-input .v-text-field__details,
.custom-input .v-messages {
	min-height: initial !important;
}

.custom-input .error--text .v-messages__message {
	font-family: "Golos-Regular";
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	color: #e14761;

	padding-left: 10px;
}
</style>
