<template>
	<v-app>
		<router-view></router-view>
	</v-app>
</template>

<script>
export default {
	name: "App",
	components: {},
};
</script>

<style>
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Golos-Bold";
	src: url("fonts/Golos-Bold/Golos-Bold.woff2") format("woff2"),
	url("fonts/Golos-Bold/Golos-Bold.woff2") format("woff2"),
	url("fonts/Golos-Bold/Golos-Bold.ttf") format("ttf"),
	url("fonts/Golos-Bold/Golos-Bold.eot") format("eot");
}

@font-face {
	font-family: "Golos-Medium";
	src: url("fonts/Golos-Medium/Golos-Medium.woff2") format("woff2"),
	url("fonts/Golos-Medium/Golos-Medium.woff2") format("woff2"),
	url("fonts/Golos-Medium/Golos-Medium.ttf") format("ttf"),
	url("fonts/Golos-Medium/Golos-Medium.eot") format("eot");
}

@font-face {
	font-family: "Golos-Regular";
	src: url("fonts/Golos-Regular/Golos-Regular.woff2") format("woff2"),
	url("fonts/Golos-Regular/Golos-Regular.woff2") format("woff2"),
	url("fonts/Golos-Regular/Golos-Regular.ttf") format("ttf"),
	url("fonts/Golos-Regular/Golos-Regular.eot") format("eot");
}
</style>
